<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}"/>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Roboto:300,400" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/dracula.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>

    <meta name="google-site-verification" content="rRYcmkczTfWH58KWxHAsNJnhF4PLQwcpt-QZKL5QejM" />

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
          var u="https://analytics.openapplibrary.org/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '4']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://analytics.openapplibrary.org/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
  </head>
  <body>
    {{content}}
    <footer><a href="https://openapplibrary.org">OpenAppLibrary.org</a> - Creating an open-source future.</footer>
  </body>
</html>
