<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}} - {{site.subtitle}}</title>
		<link href="https://fonts.googleapis.com/css?family=Oleo+Script|Roboto:300,400" rel="stylesheet">
		<link href="/css/normalize.css" rel="stylesheet"/>
		<link href="/css/dracula.css" rel="stylesheet"/>
		<link href="/css/main.css" rel="stylesheet"/>
  </head>
  <body>
		{{content}}
		<footer><a href="https://openapplibrary.org">OpenAppLibrary.org</a> - Creating an open-source future.</footer>
	</body>
</html>
